*{
    margin: 0;
    padding: 0;
}
body{ /* removendo o espaço padrao do navegador */
    margin: 0px;
    padding: 0px;
}
header{
    color: white;
}

.cabecalho{
    background-color: #008359;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    border-bottom: #1e4c97 8px solid;
   }
   .logo{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.titulo{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    float: left;
    margin-left: 40px;
    font-size: 50px;
    margin-top: 9px;
    cursor: default;
}
ul{
    list-style-type: none;
    float: left;
    }
    ul li{
        float: left;
        margin-right: 90px;
        font-family: 'Titillium Web', sans-serif;
        font-size: 32px;
        margin-top: 22px;
       
    }
    
    ul a{
        float: left;
        margin-right: 90px;
        font-family: 'Titillium Web', sans-serif;
        font-size: 32px;
        color: white;
        margin-top: 32px;
        text-decoration: none;
       
    }
    ul a .cm{
        margin-top: -22px;
  
       
    }
    ul li:hover{
        cursor: pointer;
        color: #1738a1;
    }
    ul li a:hover{
        cursor: pointer;
        color: #1738a1;
        
    }
    .usuario{
        float: right;
        font-family: 'Oswald',sans-serif;
        margin-right: 150px;
        margin-top: 13px;
    }
    .usuario p{
        float: right;
        padding-left: 8px;
        margin-top: 5px;
        font-size: 30px;
        font-family: 'Saira Semi Condensed', sans-serif;
        font-weight: bold;
        cursor: default
    }
    .logout{
        float: right;
        margin-right: 50px;
        margin-top: 14px;
        font-family: 'Saira Semi Condensed', sans-serif;
        font-weight: bold;
        font-size: 30px;
    }
    .logout a{
        text-decoration: none;
        color: white;
    }
    .logout a:hover{
        cursor: pointer;
        color: #be4242;
    }
    main{
        margin-top: 100px;
    }


.nav > ul > li{ /* posicionando a nav */
    margin-left: 120px;
      padding: 8px;
      display: inline-block;
  color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
     
     
}
ul{
    margin-top: -13px; 
    margin-left: 100px;
   
}

.perfil{
    margin-top: 5px;
    float: left;
    border-radius: 10px;
}
.nome{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    float: left;
    color: white;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 15px;
}

#check{
    margin-top: 40px;
    display: none;
}

#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    margin-top: -100px
}
.barra{
    background-color: #008359;
    height: 100%;
    width: 400px;
    position: absolute;
    border-right: 1px solid black;
    transition: all .2s linear;
    left: -400px;
    margin-top: -100px;
}


.barra nav{
    width: 100%;
    position: absolute;
    top: 60px;
}
nav a{
    text-decoration: none;
    color: white;
}
.link{
    background-color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    transition: all .2s linear;
    color: black;
    border-bottom: 2px solid #222;
    text-align: center;
}
.link:hover{
    background-color: #cc403f;
}
.nav > ul > li:hover{
    color: #1e4c97;
}
.nav > ul > li a:hover{
    color: #1e4c97
}

#check:checked ~ .barra{
transform: translateX(400px);
}


#grafico1 {
    margin-left: 280px;
    width: 500px;
    height: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-right: 8px solid #1e4c97;
    padding-left: 50px;
    padding-right: 150px;
}

#grafico2 {
    margin-left: 1250px;
    margin-top: -550px;
    height: 557px;
    padding-right: 28px;
    padding-top: 100px;
}
#grafico3 {
    margin-left: 280px;
    width: 500px;
    height: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-right: 8px solid #1e4c97;
    padding-left: 50px;
    padding-right: 150px;
}

#grafico4 {
    margin-left: 1250px;
    margin-bottom: 55px;
    margin-top: -555px;
    height: 557px;
    padding-right: 28px;
    padding-top: 100px;
}
.rodape{
   
    width: 100%;
    margin-top: 600px;
    height: 150px;
    float: left;
    background-color: #353535;
}
.rodape p{
    color: white;
    text-align: center;
    font-family: 'Saira Semi Condensed', sans-serif;
    margin-top: 40px;
    margin-left: 280px;
    font-size: 25px;
}







