header {
    display: flex;
    background-color: RGB(5,0,85);
    justify-content: space-around;
}
.usuario {
    color: white;
    text-align: center;
    line-height: 80px;
    flex-grow: 1;
}
.logo {
    color: white;
    line-height: 80px;
    flex-grow: 0.125;
}
.calen {
    display: flex;
    line-height: 60px;
    justify-content: center;
}
article {
    display: flex;
    justify-content: space-around;
}
.mulher{
  margin-top: -10px;
  margin-right: 550px;
  
  }
  .mulherarredondada{
    border-radius: 30px;
   margin-left: 25px;
    
  }
  .nomeusuario{
   font-family: calibri;
   font-weight: bold;
    text-align: center;
  }

/* Parte interna do menu lateral */
.sidebar {
    height: 100%; /* % de ocupação vertical do menu */
    width: 0; /* mantenha largura 0 aqui. mude width em javascript */
    position: fixed; /* mantem a barra no lugar */
    z-index: 1; /* mantem a barra no topo */
    top: 0;
    left: 0;
    background-color: RGB(5,0,30);
    overflow-x: hidden; /* desabilita o scrolling da barra */
    padding-top: 60px; /* posiciona o conteudo a 60px do topo */
    transition: 0.5s; /* 0.5 segundos para a barra se mostrar completamente */
  }
  
  /* Conteudo da barra */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* Cor dos links de navegacao quando passar o mouse */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Posição e estilo do botão de fechar da barra */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Opções do botão para abrir a barra */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: RGB(5,0,30);
    color: white;
    padding: 10px 15px;
    border: 1;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Usado para empurrar elementos quando a barra se expande */
  #main {
    transition: margin-left .5s; /* efeito de transição */
    padding: 20px;
  }