/*------------------------------*\
    INICIO DO GRID >> Cuidado p/ não desconfigurar
\*------------------------------*/

.row, 
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
    display: block;
}

.column + .column {
    margin-left: 1.6%;
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
    margin-left: 0;
}

/*-------------------------*/

.column {
    border-radius: 4px;
    padding: 5px;
    min-height: 30px;
    text-align: center;
}

.row {
    margin-bottom: 10px;
    
}

.row:last-child {
    margin-bottom: 0;
}

.column .column {
    border-color: none;
}

/*------------------------------*\
    FIM DO GRID
\*------------------------------*/


/*INICIO da formatação do HEADER*/
    .header {
        background-color: #050055;
        color: white;
    }
    div .foto-usuario {
        margin: 2px auto 5px auto;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: white;
    }
    .nome-usuario {
        margin-top: 20px;
        color: white;
        font-family: sans-serif;
    }
    .logo-quemsomos {
        text-align: end;
       
    }
    .logo {
        margin-left: 20px;
    }
    .logo p {
        font-size: 30px;
        font-family: sans-serif;
        display: inline;
    }
    .logo img {
        margin-left: 10px;
    }
    .quem-somos {
        margin-top: 20px;
        margin-right: 40px;
    }
    .quem-somos a {
        color: white;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 13px;
    }
    .quem-somos p {
        display: inline;
    }
/*FIM da formatação do HEADER*/


/*INICIO da formatação do MENU*/
        /* Parte interna do menu lateral */
        .sidebar {
            height: 100%; /* % de ocupação vertical do menu */
            width: 0; /* mantenha largura 0 aqui. mude width em javascript */
            position: fixed; /* mantem a barra no lugar */
            z-index: 1; /* mantem a barra no topo */
            top: 0;
            left: 0;
            background-color: RGB(5,0,30);
            overflow-x: hidden; /* desabilita o scrolling da barra */
            padding-top: 60px; /* posiciona o conteudo a 60px do topo */
            transition: 0.5s; /* 0.5 segundos para a barra se mostrar completamente */
        }
        
        /* Conteudo da barra */
        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
        
        /* Cor dos links de navegacao quando passar o mouse */
        .sidebar a:hover {
            color: #f1f1f1;
        }
        
        /* Posição e estilo do botão de fechar da barra */
        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        
        /* Opções do botão para abrir a barra */
        .openbtn {
            font-size: 16px;
            cursor: pointer;
            background-color: transparent;
            color: rgb(255, 255, 255);
            padding: 10px 0;
            border: none;
            margin-left: -290px;
            font-family: sans-serif;
        }
        
        .openbtn:hover {
            transition:.1s;
            text-decoration: underline;
        }
        
        /* Usado para empurrar elementos quando a barra se expande */
        #main {
            transition: margin-left .5s; /* efeito de transição */
            padding: 20px 0 5px 0px;
        }
/*FIM da formatação do MENU*/


/*INICIO formatação dos GRAFICOS*/
        .grafico1 img{
            display: block;
            max-width: 100%;
            margin: auto;    
        }
        .grafico2 img{
            display: block;
            max-width: 100%;
            margin: auto;    

        }
        .grafico3 img {
            display: block;
            max-width: 100%;
            margin: auto;    

        }
/*INICIO formatação dos GRAFICOS*/




/*INICIO formatação do FOOTER*/
        .footer {
            background-color: #050055;
            height: 50px;
            color: white;
            font-size: 12px;
            padding-top: 15px;
            font-family: sans-serif;
        }
/*FIM formatação do FOOTER*/


/*INICO DO CSS DAS PÁGINAS DO TIPO MODAL*/

#modal{
    background:rgba(0,0,0, 0.5);
    width:100%; 
    height:100%;
    position:fixed;
    left:0; 
    top:0; } 
.modal-box{
     background:#FFF; 
     width:50%; 
     height:600px; 
     position:absolute; 
     left:50%; 
     top:50%; 
     margin-left:-25%; 
     margin-top:-300px;}
.fechar{ 
    padding:5px 10px;
    border:1px solid #CCC; 
    position:absolute; 
    right:3px; 
    top:3px; 
    border-radius:7px; 
    color:#CCC; 
    cursor:pointer;}
.fechar:hover{
    color:#666; 
    border-color:#666;}
.modal-box-conteudo {
    color: #333;
    height: 100%;
}
.modal-box-conteudo h1 {
    font-family: sans-serif;
    font-family: 8px;
    padding-top: 10px;
}
.css-comum-pm {
    width: 95%;
    height: 93%;
    margin: auto;

}
#pagina1 {
}

#pagina2 {
 }

 /*css p/ formulario*/
 .linha-formulario {
     margin: 6px;
     
 }
 .nome-categoria {
     font-family: sans-serif;
     display: inline;
 }
     
.inputs {
padding-top: 20px;
}     

 .valor-categoria {
     border: 1px solid #868383;
     text-align: end;
     left: 210px;
     width: 80px;
     cursor: pointer;
     padding-right: 5px;
     
     
 }
 .botao-calcular {
     background-color: transparent;
     font-family: sans-serif;
     font-size: 15px;
     color:#050055;
     border-radius: 5px;
     border: none;
     width: 90px;
     margin-top: 20px;
     cursor: pointer;
     margin-bottom: 10px;
     text-decoration: underline;
 }
 .botao-calcular:hover {
    color:#302894;
}
 .resultado {
     background-color: transparent;
     text-align: center;
     width: 100%;
     color: #050055;
     font-weight: 100px;
     display: block;
     margin: auto;
     font-size: 40px;
     height: 50px;
     
 }

/*FIM DO CSS DAS PÁGINAS DO TIPO MODAL*/